@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
:root {
  /* Color */
  --color-white: #fff;
  --color-black: #000;
  /* Font size */
  --font-small: 13px;
  --font-medium: 20px;
  --font-large: 36px;
  --font-x-large: 42px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
  background-color: var(--color-white);
  overflow-x: hidden;
  position: relative;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

@media (max-width: 989px) {
  :root {
    /* Font size */
    --font-small: 11px;
    --font-s-m: 13px;
    --font-medium: 17px;
    --font-large: 30px;
    --font-x-large: 38px;
  }
}
body.about {
  background-color: var(--color-black) !important;
  color: var(--color-white);
}
body.about #wrapper header {
  border-bottom: 1.5px solid var(--color-white);
  background-color: var(--color-black);
}
body.about #wrapper header a img {
  filter: invert(1);
}
body.about #wrapper header nav ul li a {
  color: var(--color-white);
}
body.about #wrapper header nav ul li.join {
  border: 1px solid var(--color-white);
}
body.about #wrapper header .header__burger .header__burger-line {
  background-color: var(--color-white);
}
body.about #wrapper main {
  z-index: 100;
  position: relative;
  padding-top: 70px;
}
body.about #wrapper main .section01 {
  background-color: var(--color-black);
  z-index: 99;
  position: relative;
  margin-top: 0;
}
body.about #wrapper main .section01 .inner {
  padding: 80px;
  position: relative;
  padding-bottom: 12%;
}
body.about #wrapper main .section01 .inner h3.ceo__txt {
  font-family: "Crimson Text", serif;
  font-size: 4rem;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
}
body.about #wrapper main .section01 .inner h3.ceo__txt p {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-small);
  font-family: "Noto Sans", sans-serif;
  padding: 50px 0 80px 0;
}
body.about #wrapper main .section01 .inner h3.ceo__txt .word {
  display: inline-block;
  transition-delay: calc(0.02s * var(--word-index));
}
body.about #wrapper main .section01 .inner h3.ceo__txt.is-inview {
  visibility: visible;
}
body.about #wrapper main .section02 {
  padding: 80px;
  margin-top: -5px;
  background-color: var(--color-black);
}
body.about #wrapper main .section02 .inner {
  border: 1px solid var(--color-white);
  padding: 40px;
}
body.about #wrapper main .section02 .inner h1 {
  font-size: 60px;
  font-family: "Crimson Text", serif;
  margin-bottom: 5%;
  text-transform: uppercase;
}
body.about #wrapper main .section02 .inner h1 .word {
  display: inline-block;
}
body.about #wrapper main .section02 .inner img {
  margin: 0 auto;
  filter: grayscale(1);
  display: flex;
  position: relative;
}
body.about #wrapper main .section02 .inner .ovf__box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transition: all 1s ease;
  text-transform: uppercase;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
body.about #wrapper main .section02 .inner .ovf__box > div {
  display: flex;
  animation: scrollText 100s infinite linear;
}
body.about #wrapper main .section02 .inner .ovf__box > div .txt__ovf {
  font-size: 400px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.1);
  line-height: 1;
}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
body.about #wrapper main .section02 .inner .ceo__txt_cont {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
body.about #wrapper main .section02 .inner .ceo__txt_cont .ceo__title {
  width: 35%;
  font-size: var(--font-medium);
  margin-top: -35px;
}
body.about #wrapper main .section02 .inner .ceo__txt_cont .ceo__title .word {
  transition-delay: calc(0.01s * var(--word-index));
  display: inline-block;
}
body.about #wrapper main .section02 .inner .ceo__txt_cont .ceo__description {
  width: 60%;
  font-size: 18px;
  transform: translateY(40px);
  opacity: 0;
  transition: 500ms cubic-bezier(0.34, 0.7, 0.27, 1);
}
body.about #wrapper main .section02 .inner .ceo__txt_cont.is-inview .ceo__title .word {
  opacity: 1;
}
body.about #wrapper main .section02 .inner .ceo__txt_cont.is-inview .ceo__description {
  transform: translateY(0px);
  opacity: 1;
}
body.about #wrapper main .section04 {
  padding-bottom: 50px;
  margin-bottom: 0;
}
body.about #wrapper main .section04 .inner {
  justify-content: space-evenly;
}
body.about #wrapper main .section04 .inner h3 {
  color: var(--color-black);
  margin-bottom: 100px;
}
body.about #wrapper main .section04 .inner h3 .word {
  display: inline-block;
}
body.about #wrapper main .section04 .inner h2 {
  color: var(--color-black);
}

footer {
  background: linear-gradient(180deg, #000000 0%, #000000 40%, #ffffff 10%, #ffffff 100%);
}
footer .inner {
  justify-content: flex-end;
}
footer .inner h3 {
  width: 100%;
  text-align: center;
  position: relative;
  top: -125px;
  font-size: var(--font-large);
  font-weight: var(--weight-regular);
  letter-spacing: 5px;
}
footer .inner h3 .word {
  color: var(--color-black);
  opacity: 1;
  display: inline-block;
}
footer .inner .footer__wrapper {
  width: 100%;
}
footer .inner .footer__wrapper aside {
  color: var(--color-black);
}

.head-about {
  background-color: var(--color-black);
}
.head-about__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  margin-top: 50px;
}
.head-about__container-image {
  position: relative;
  overflow: hidden;
}
.head-about__container-image:after {
  content: "";
  display: block;
}
.head-about__container-image:nth-of-type(1) {
  width: 85%;
  padding-bottom: 85%;
}
.head-about__container-image:nth-of-type(2) {
  width: 100%;
  margin-top: 30%;
  padding-bottom: 100%;
}
.head-about__container-image:nth-of-type(3) {
  width: 60%;
  margin-left: 20%;
  margin-top: -20%;
  padding-bottom: 80%;
}
.head-about__container-image:nth-of-type(3) img {
  object-position: left;
}
.head-about__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  filter: grayscale(1);
}

.has-scroll-smooth .head-about__images {
  position: absolute;
  top: 32%;
  width: calc(100% - 160px);
}
.has-scroll-smooth .head-about__container-image:nth-of-type(1) {
  width: 50%;
  padding-bottom: 50%;
}
.has-scroll-smooth .head-about__container-image:nth-of-type(2) {
  width: 80%;
  margin-top: 20%;
  padding-bottom: 80%;
}
.has-scroll-smooth .head-about__container-image:nth-of-type(3) {
  width: 50%;
  margin-left: 20%;
  margin-top: -30%;
  padding-bottom: 60%;
}

body.about #wrapper .brand .section01 .inner .ceo__txt .brand__focus {
  font-size: 15px;
}
body.about #wrapper .brand .section01 .inner .ceo__txt .brand__focus .word {
  display: inline-block;
}
body.about #wrapper .brand .section01 .inner .ceo__txt .brand__title {
  font-size: var(--font-large);
  margin-bottom: 20px;
}
body.about #wrapper .brand .section01 .inner .ceo__txt .brand__title .word {
  display: inline-block;
}
body.about #wrapper .brand .section01 .inner .brand__desc {
  visibility: hidden;
  font-family: "Crimson Text", serif;
  font-size: 23px;
}
body.about #wrapper .brand .section01 .inner .brand__desc .word {
  display: inline-block;
  transform: translateY(40px);
  transition-delay: calc(0.05s * var(--word-index));
}
body.about #wrapper .brand .section01 .inner .brand__desc.is-inview {
  visibility: visible;
}
body.about #wrapper .brand .section01 .inner .brand__desc.is-inview .word {
  opacity: 1;
  transform: translateY(0px);
}
body.about #wrapper .brand .section02 .inner {
  border: none;
}

@media (max-width: 989px) {
  body.about #wrapper main {
    padding-top: 0;
  }
  body.about #wrapper main .section01 {
    padding-top: 0;
  }
  body.about #wrapper main .section01 .inner {
    padding-bottom: 0;
  }
  body.about #wrapper main .section01 .inner h3.ceo__txt {
    font-size: 2.7rem;
    line-height: 1.1;
  }
  body.about #wrapper main .section01 .inner h3.ceo__txt p {
    padding: 50px 0 30px 0;
  }
  body.about #wrapper main .section02 .inner {
    padding: 40px 20px;
  }
  body.about #wrapper main .section02 .inner h1 {
    font-size: var(--font-large);
  }
  body.about #wrapper main .section02 .inner img {
    width: 50%;
  }
  body.about #wrapper main .section02 .inner .ovf__box {
    top: 45%;
  }
  body.about #wrapper main .section02 .inner .ovf__box > div .txt__ovf {
    font-size: 200px;
  }
  body.about #wrapper main .section02 .inner .ceo__txt_cont {
    flex-direction: column;
    margin-top: 2%;
  }
  body.about #wrapper main .section02 .inner .ceo__txt_cont .ceo__title {
    width: 100%;
  }
  body.about #wrapper main .section02 .inner .ceo__txt_cont .ceo__description {
    font-size: var(--font-s-m);
    width: 100%;
    margin-top: 50px;
  }

  .spacer {
    height: 300px !important;
  }

  .has-scroll-smooth .head-about__images {
    position: initial;
    width: auto;
  }
}
@media (max-width: 600px) {
  body.about #wrapper main .section01 .inner {
    padding: 30px;
  }
  body.about #wrapper main .section01 .inner h3.ceo__txt {
    font-size: 1.7rem;
  }
  body.about #wrapper main .section02 {
    padding: 30px;
  }
  body.about #wrapper main .section02 .inner {
    padding: 20px;
  }
  body.about #wrapper main .section02 .inner h1 {
    font-size: 25px;
    font-weight: 100;
    line-height: 1;
  }
  body.about #wrapper main .section02 .inner .ovf__box {
    top: 33%;
  }
  body.about #wrapper main .section02 .inner .ceo__txt_cont .ceo__title {
    line-height: 1.1;
  }

  footer .inner h3 {
    top: -100px;
    font-size: var(--font-medium);
  }

  .has-scroll-smooth .head-about__container-image:nth-of-type(1),
.has-scroll-smooth .head-about__container-image:nth-of-type(2),
.has-scroll-smooth .head-about__container-image:nth-of-type(3) {
    width: 100%;
  }
}

/*# sourceMappingURL=about.css.map */
