@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
:root {
  /* Color */
  --color-white: #fff;
  --color-black: #000;
  /* Font size */
  --font-small: 13px;
  --font-medium: 20px;
  --font-large: 36px;
  --font-x-large: 42px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
  background-color: var(--color-white);
  overflow-x: hidden;
  position: relative;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

@media (max-width: 989px) {
  :root {
    /* Font size */
    --font-small: 11px;
    --font-s-m: 13px;
    --font-medium: 17px;
    --font-large: 30px;
    --font-x-large: 38px;
  }
}
body.contact .section01 {
  background: var(--color-white);
  height: 100vh;
}
body.contact .section01 .inner {
  padding: 25px 80px 80px 80px;
}
body.contact .section01 .inner .contact__us {
  font-size: 80px;
  font-family: "Crimson Text", serif;
}
body.contact .section01 .inner .contact__us .word {
  display: inline-block;
}
body.contact .section01 .inner .contact__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: flex-start;
  opacity: 0;
  transform: translateY(80px);
}
body.contact .section01 .inner .contact__wrap.is-inview {
  transform: translateY(0);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s;
  opacity: 1;
}
body.contact .section01 .inner .contact__wrap .contact__info {
  width: 35%;
  margin-top: 70px;
}
body.contact .section01 .inner .contact__wrap .contact__info li {
  margin-bottom: 30px;
}
body.contact .section01 .inner .contact__wrap .contact__info li p:nth-child(1) {
  font-weight: var(--weight-semi-bold);
  margin-bottom: 5px;
}
body.contact .section01 .inner .contact__wrap .contact__info li p:nth-child(2) {
  font-size: 15px;
}
body.contact .section01 .inner .contact__wrap .contact__form {
  width: 50%;
}
body.contact .section01 .inner .contact__wrap .contact__form h3 {
  font-size: var(--font-medium);
  margin-bottom: 20px;
}
body.contact .section01 .inner .contact__wrap .contact__form form fieldset {
  border: none;
}
body.contact .section01 .inner .contact__wrap .contact__form form fieldset .h {
  display: none;
}
body.contact .section01 .inner .contact__wrap .contact__form form fieldset table {
  border: none;
  width: 100%;
}
body.contact .section01 .inner .contact__wrap .contact__form form fieldset table tr {
  text-align: left;
  position: relative;
}
body.contact .section01 .inner .contact__wrap .contact__form form fieldset table tr td {
  border: none;
  padding: 10px 0 20px 0;
}
body.contact .section01 .inner .contact__wrap .contact__form form fieldset table tr th {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.55s cubic-bezier(0.9, 0, 0.1, 1);
  padding-left: 3px;
}
body.contact .section01 .inner .contact__wrap .contact__form form fieldset table tr th.on {
  top: 100%;
  font-size: var(--font-small);
  opacity: 0.3;
}
body.contact .section01 .inner .contact__wrap .contact__form form fieldset table tr th label {
  font-family: "Crimson Text", serif;
}
body.contact .section01 .inner .contact__wrap .contact__form form fieldset table tr th.message {
  top: 16px;
}
body.contact .section01 .inner .contact__wrap .contact__form form fieldset table tr th.message.on {
  top: 100%;
}
body.contact .section01 .inner .contact__wrap .contact__form form fieldset table tr td input[type=text],
body.contact .section01 .inner .contact__wrap .contact__form form fieldset table tr td input[type=password],
body.contact .section01 .inner .contact__wrap .contact__form form fieldset table tr td select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
}
body.contact .section01 .inner .contact__wrap .contact__form form fieldset table tr td input[type=checkbox],
body.contact .section01 .inner .contact__wrap .contact__form form fieldset table tr td input[type=radio] {
  margin-right: 30px;
}
body.contact .section01 .inner .contact__wrap .contact__form form fieldset table tr td textarea {
  width: 100%;
  height: 150px;
  border: none;
  padding: 1px;
  border-bottom: 1px solid #aaa;
  resize: none;
  cursor: pointer;
}
body.contact .section01 .inner .contact__wrap .contact__form form fieldset table tr td textarea:focus,
body.contact .section01 .inner .contact__wrap .contact__form form fieldset table tr td input:focus {
  outline: 0;
}
body.contact .section01 .inner .contact__wrap .contact__form form fieldset table tr p {
  position: absolute;
  color: #f8461e;
  font-size: 10px;
}
body.contact .section01 .inner .contact__wrap .contact__form form .submit__btn {
  margin-top: 50px;
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px 0;
  transition: 0.5s cubic-bezier(0.38, 0.005, 0.215, 1);
  width: 100%;
  cursor: pointer;
}
body.contact .section01 .inner .contact__wrap .contact__form form .submit__btn:hover {
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid var(--color-black);
}
body.contact footer {
  background: var(--color-white);
}
body.contact footer .inner {
  justify-content: flex-end;
}
body.contact footer .inner .contact__wrap .contact__info li p:nth-child(2) {
  font-size: var(--font-s-m);
}

.result .section01 {
  margin-top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
}
.result .section01 .box {
  border: 2px solid #007d52;
  width: 50%;
  margin: auto;
  padding: 100px;
}
.result .section01 .box .contact__us {
  font-size: 80px;
  font-family: "Crimson Text", serif;
}
.result .section01 .box .result__btn {
  outline: none;
  padding: 0;
  width: 50%;
  margin: auto;
  border: 1px solid var(--color-black);
  border-radius: 30px;
  background-color: var(--color-white);
  margin-top: 50px;
  transition: 0.5s cubic-bezier(0.38, 0.005, 0.215, 1);
}
.result .section01 .box .result__btn a {
  padding: 10px 20px;
  display: block;
}
.result .section01 .box .result__btn:hover {
  background-color: var(--color-black);
}
.result .section01 .box .result__btn:hover a {
  color: var(--color-white);
}

@media (max-width: 989px) {
  body.contact .section01 {
    margin-top: 100px;
  }
  body.contact .section01 .inner .contact__us {
    font-size: var(--font-x-large);
  }
  body.contact .section01 .inner .contact__wrap {
    flex-direction: column;
    margin-top: 20px;
  }
  body.contact .section01 .inner .contact__wrap .contact__info {
    width: 100%;
    margin-top: -8px;
  }
  body.contact .section01 .inner .contact__wrap .contact__info li {
    margin-bottom: 10px;
  }
  body.contact .section01 .inner .contact__wrap .contact__info li p:nth-child(1) {
    margin-bottom: 0;
    font-size: 15px;
  }
  body.contact .section01 .inner .contact__wrap .contact__info li p:nth-child(2) {
    font-size: var(--font-s-m);
  }
  body.contact .section01 .inner .contact__wrap .contact__form {
    width: 100%;
    margin-top: 28px;
  }
  body.contact .section01 .inner .contact__wrap .contact__form h3 {
    margin-bottom: 0;
  }
  body.contact .section01 .inner .contact__wrap .contact__form form fieldset table tr th {
    font-size: var(--font-s-m);
  }
  body.contact .section01 .inner .contact__wrap .contact__form form .submit__btn {
    margin-top: 30px;
    padding: 7px 0;
  }

  .result .section01 .inner {
    padding-bottom: 0 !important;
  }
  .result .section01 .inner .box {
    width: 100%;
  }
  .result .section01 .inner .box .contact__us {
    font-size: var(--font-large);
  }
  .result .section01 .inner .box p {
    font-size: var(--font-s-m);
  }
  .result .section01 .inner .box .result__btn {
    margin-top: 25px;
  }
  .result .section01 .inner .box .result__btn a {
    font-size: var(--font-s-m);
    padding: 5px 20px;
  }
}
@media (max-width: 600px) {
  body.contact .section01 {
    padding-bottom: 0;
  }
  body.contact .section01 .inner .contact__us {
    font-size: var(--font-large);
  }

  #wrapper .result .section01 {
    margin-top: 0;
  }
}

/*# sourceMappingURL=contact.css.map */
