@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
:root {
  /* Color */
  --color-white: #fff;
  --color-black: #000;
  /* Font size */
  --font-small: 13px;
  --font-medium: 20px;
  --font-large: 36px;
  --font-x-large: 42px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
  background-color: var(--color-white);
  overflow-x: hidden;
  position: relative;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

@media (max-width: 989px) {
  :root {
    /* Font size */
    --font-small: 11px;
    --font-s-m: 13px;
    --font-medium: 17px;
    --font-large: 30px;
    --font-x-large: 38px;
  }
}
.section01 {
  background-color: var(--color-white);
}
.section01 .inner {
  padding: 25px 80px 80px 80px;
}
.section01 .inner h1 {
  font-size: 80px;
  font-family: "Crimson Text", serif;
}
.section01 .inner h1 .word {
  display: inline-block;
}
.section01 .magazine__categories {
  opacity: 0;
  transform: translateY(40px);
}
.section01 .magazine__categories.is-inview {
  transform: translateY(0);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s;
  opacity: 1;
}
.section01 .magazine__categories .magazine__tab {
  padding: 30px 0 10px 0;
  border-bottom: 1px solid var(--color-black);
}
.section01 .magazine__categories .magazine__tab ul {
  display: flex;
  gap: 50px;
}
.section01 .magazine__categories .magazine__tab ul .magazine__btn {
  cursor: pointer;
  font-size: var(--font-medium);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
}
.section01 .magazine__categories .magazine__tab ul .magazine__btn::after {
  content: "";
  display: block;
  position: absolute;
  right: -27px;
  top: 9px;
  width: 1px;
  height: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.section01 .magazine__categories .magazine__tab ul .magazine__btn:last-child::after {
  display: none;
}
.section01 .magazine__categories .magazine__tab ul .magazine__btn.selected {
  color: #f8461e;
  font-weight: var(--weight-bold);
}
.section01 .magazine__categories .magazine__cont {
  transition: all 300ms ease-out;
  opacity: 1;
  margin-top: 15px;
}
.section01 .magazine__categories .magazine__cont.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}
.section01 .magazine__categories .magazine__cont ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.section01 .magazine__categories .magazine__cont ul li {
  display: block;
}
.section01 .magazine__categories .magazine__cont ul li.invisible {
  display: none;
}
.section01 .magazine__categories .magazine__cont ul li a .magazine__cont-box:hover .magazine__image img {
  filter: none;
  transform: scale(1.1);
}
.section01 .magazine__categories .magazine__cont ul li a .magazine__cont-box .magazine__image {
  padding: 10px 0;
  overflow: hidden;
}
.section01 .magazine__categories .magazine__cont ul li a .magazine__cont-box .magazine__image img {
  width: 100%;
  filter: grayscale(1);
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
.section01 .magazine__categories .magazine__cont ul li a .magazine__cont-box .magazine__desc span {
  font-size: 12px;
  opacity: 0.6;
  display: block;
  padding-bottom: 5px;
}
.section01 .magazine__categories .magazine__cont ul li a .magazine__cont-box .magazine__desc h3 {
  font-size: 17px;
}

footer {
  background: var(--color--white);
}

.magazine__detail .section01 {
  margin-top: 150px;
}
.magazine__detail .section01 .inner {
  max-width: 1000px;
}
.magazine__detail .section01 .inner .detail__txt {
  text-align: center;
  margin-bottom: 50px;
}
.magazine__detail .section01 .inner .detail__txt .detail__category {
  font-size: 13px;
  border: 1px solid var(--color-black);
  border-radius: 30px;
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 10px;
}
.magazine__detail .section01 .inner .detail__txt .detail__title {
  padding: 15px 0 40px 0;
  line-height: 1.2;
  border-bottom: 1px solid var(--color-black);
  font-size: var(--font-large);
}
.magazine__detail .section01 .inner .detail__image {
  width: 100%;
  text-align: center;
}
.magazine__detail .section01 .inner .detail__image img {
  width: 100%;
}
.magazine__detail .section01 .inner .detail__desc {
  margin-top: 30px;
}
.magazine__detail .section01 .inner .detail__desc p {
  padding: 15px 0;
  font-size: 18px;
}
.magazine__detail .section01 .inner .detail__desc .writer {
  text-align: center;
  margin-top: 30px;
  font-size: var(--font-s-m);
  opacity: 0.7;
}

@media (max-width: 989px) {
  .section01 {
    margin-top: 100px;
  }
  .section01 .inner h1 {
    font-size: var(--font-x-large);
  }
  .section01 .inner .magazine__tab {
    padding: 15px 0 5px 0;
  }
  .section01 .inner .magazine__tab ul {
    gap: 20px;
  }
  .section01 .inner .magazine__tab ul li {
    font-size: 15px;
  }
  .section01 .inner .magazine__tab ul .magazine__btn::after {
    right: -12px;
    top: 6px;
  }
  .section01 .inner .magazine__cont ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .section01 .inner .magazine__cont ul li {
    margin-bottom: 10px;
  }
  .section01 .inner .magazine__cont ul li a .magazine__cont-box .magazine__image {
    padding: 5px 0;
  }
  .section01 .inner .magazine__cont ul li a .magazine__cont-box span {
    font-size: var(--font-small);
    padding-bottom: 3px;
  }
  .section01 .inner .magazine__cont ul li a .magazine__cont-box .magazine__desc h3 {
    font-size: var(--font-s-m);
  }

  .magazine__detail .section01 {
    margin-top: 110px;
  }
  .magazine__detail .section01 .inner .detail__txt {
    margin-bottom: 26px;
  }
  .magazine__detail .section01 .inner .detail__txt .detail__category {
    font-size: var(--font-small);
    margin-bottom: 0;
  }
  .magazine__detail .section01 .inner .detail__txt .detail__title {
    padding: 15px 0 20px 0;
    font-size: 25px;
  }
  .magazine__detail .section01 .inner .detail__desc {
    margin-top: 10px;
  }
  .magazine__detail .section01 .inner .detail__desc p {
    padding: 10px 0;
    font-size: var(--font-s-m);
  }
}
@media (max-width: 767px) {
  .section01 .inner .magazine__cont ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media (max-width: 600px) {
  .section01 .inner h1 {
    font-size: var(--font-large);
  }
  .section01 .inner .magazine__categories .magazine__tab ul .magazine__btn {
    font-size: var(--font-s-m);
  }
  .section01 .inner .magazine__cont ul {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  #wrapper .magazine__detail .section01 {
    margin-top: 73px;
  }
  #wrapper .magazine__detail .section01 .inner .detail__txt .detail__category {
    padding: 3px 15px;
    margin-bottom: 15px;
  }
  #wrapper .magazine__detail .section01 .inner .detail__txt .detail__title {
    padding: 0px 0 20px 0;
    font-size: 21px;
  }
  #wrapper .magazine__detail .section01 .inner .detail__desc p {
    padding: 7px 0;
  }
}

/*# sourceMappingURL=magazine.css.map */
