@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
:root {
  /* Color */
  --color-white: #fff;
  --color-black: #000;
  /* Font size */
  --font-small: 13px;
  --font-medium: 20px;
  --font-large: 36px;
  --font-x-large: 42px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
  background-color: var(--color-white);
  overflow-x: hidden;
  position: relative;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

/* 공통 */
.preloader {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  z-index: 11111;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease 1.5s;
  background-color: var(--color-black);
}
.preloader.preloader--hide {
  height: 0;
  pointer-events: none;
}

.inner {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.links .link {
  text-align: center;
  position: relative;
  font-size: var(--font-small);
  cursor: pointer;
}
.links .link:hover .link__cont span:nth-of-type(1) {
  transform: translateY(250%) rotateX(65deg);
}
.links .link:hover .link__cont span:nth-of-type(2) {
  transform: translateY(0) rotateX(0deg);
}
.links .link .link__cont {
  transition: 500ms cubic-bezier(0.34, 0.7, 0.27, 1);
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: transform 0.5s ease;
}
.links .link .link__cont span {
  overflow: hidden;
  line-height: 1em;
  transform-origin: bottom center;
  transition: transform 0.4s ease;
}
.links .link .link__cont span:nth-of-type(2) {
  position: absolute;
  line-height: 1em;
  transform: translateY(-250%) rotateX(65deg);
  transform-origin: top center;
  transition: transform 0.4s ease;
}

.word {
  display: block;
  opacity: 0;
  transition: 0.7s cubic-bezier(0.38, 0.005, 0.215, 1);
  transition-delay: calc(0.1s * var(--word-index));
}

h2.is-inview .word {
  opacity: 1;
  transform: translateY(0);
}

#wrapper header {
  padding: 15px 80px;
  border-bottom: 1.5px solid var(--color-black);
  background-color: var(--color-white);
  transition: all 300ms ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  pointer-events: initial;
}
#wrapper header.active {
  padding: 10px 50px;
}
#wrapper header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrapper header a img {
  width: 100px;
  margin-top: 10px;
}
#wrapper header nav ul {
  gap: 50px;
}
#wrapper header nav ul li a {
  font-size: var(--font-small);
}
#wrapper header nav ul li.join {
  border: 1px solid var(--color-black);
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: var(--weight-bold);
}

.section01 {
  margin-top: 120px;
}
.section01 video {
  width: 100%;
  height: calc(100vh - 486px);
  object-fit: cover;
  filter: grayscale(1);
}

.section02 {
  position: relative;
  z-index: -1;
  padding-top: 50%;
}
.section02 .image__cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  padding: 0 80px;
}
.section02 .image__cont .image__cont_box {
  width: 60%;
  padding-top: 50%;
  position: relative;
  overflow: hidden;
  filter: grayscale(1);
}
.section02 .image__cont .image__cont_box img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.section02 .image__cont .image__cont_box.n01 {
  width: 60%;
  padding-bottom: 80%;
  margin-left: 17%;
}
.section02 .image__cont .image__cont_box.n02 {
  margin-top: 50%;
  padding-bottom: 100%;
  width: 70%;
  margin-left: 5%;
}
.section02 .image__cont .image__cont_box.n03 {
  width: 60%;
  margin-left: 20%;
  margin-top: -50%;
  padding-bottom: 80%;
}
.section02 .image__cont .image__cont_box.n04 {
  width: 70%;
  margin-left: 13%;
  margin-top: -10%;
  padding-bottom: 80%;
}

.section03 {
  margin-top: 100px;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 80px;
}
.section03 .inner h2 {
  font-family: "Crimson Text", serif;
  font-size: 100px;
  font-weight: var(--weight-regular);
  line-height: 1;
}
.section03 .inner h2 .word {
  display: block;
  opacity: 0;
  transition: 0.7s cubic-bezier(0.38, 0.005, 0.215, 1);
  transition-delay: calc(0.1s * var(--word-index));
}
.section03 .inner h2.is-inview .word {
  opacity: 1;
  transform: translateY(0);
}
.section03 .inner p {
  margin-top: 30px;
}
.section03 .inner .commitments__tab {
  padding: 120px 0 15px 0;
  position: relative;
}
.section03 .inner .commitments__tab::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  transform: scaleX(0);
  background-color: var(--color-white);
  transform-origin: left;
  transition: transform 0.75s cubic-bezier(0.38, 0.005, 0.215, 1);
  transition-delay: 0.5s;
}
.section03 .inner .commitments__tab.is-inview::after {
  transform: scaleX(1);
}
.section03 .inner .commitments__tab ul {
  display: flex;
  gap: 80px;
  justify-content: flex-start;
}
.section03 .inner .commitments__tab ul li {
  cursor: pointer;
  position: relative;
  font-size: var(--font-small);
  padding: 10px 20px;
  border: 1px solid transparent;
}
.section03 .inner .commitments__tab ul li::after {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background-color: #ffffff;
  position: absolute;
  right: -40px;
  top: 0;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.section03 .inner .commitments__tab ul li:last-child::after {
  display: none;
}
.section03 .inner .commitments__tab ul li.on {
  border: 1px solid var(--color-white);
  border-radius: 20px;
}
.section03 .inner #sticky {
  margin-top: 10%;
}
.section03 .inner #sticky .commitments__cont {
  display: none;
  justify-content: space-between;
  margin-bottom: 50px;
}
.section03 .inner #sticky .commitments__cont.on {
  display: block;
}
.section03 .inner #sticky .commitments__cont .commitments__cont_box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.section03 .inner #sticky .commitments__cont .commitments__cont_box .txt__box .commitments__box_left {
  width: 100%;
  font-size: 30px;
}
.section03 .inner #sticky .commitments__cont .commitments__cont_box .txt__box .view__more {
  border-radius: 20px;
  background-color: var(--color-white);
  color: var(--color-black);
  text-align: center;
  font-size: var(--font-small);
  width: 50%;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.section03 .inner #sticky .commitments__cont .commitments__cont_box .commitments__box_right {
  width: 55%;
}
.section03 .inner #sticky .commitments__cont .commitments__cont_box .commitments__box_right h3 {
  margin-bottom: 50px;
  font-size: 23px;
}
.section03 .inner #sticky .commitments__cont .commitments__cont_box .commitments__box_right table {
  border-collapse: collapse;
  border-top: 1px solid var(--color-white);
}
.section03 .inner #sticky .commitments__cont .commitments__cont_box .commitments__box_right table tr {
  vertical-align: baseline;
  text-align: left;
  border-bottom: 1px solid var(--color-white);
}
.section03 .inner #sticky .commitments__cont .commitments__cont_box .commitments__box_right table tr th {
  width: 30%;
  padding: 10px 0;
}
.section03 .inner #sticky .commitments__cont .commitments__cont_box .commitments__box_right table tr td {
  padding: 10px 0;
}

.section04 {
  padding: 100px;
  margin-bottom: 400px;
  background-color: var(--color-white);
  pointer-events: none;
}
.section04 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border-bottom: 2px solid var(--color-black);
  padding-bottom: 80px;
}
.section04 .inner h2 {
  font-family: "Crimson Text", serif;
  font-weight: var(--weight-regular);
  font-size: 80px;
  line-height: 1;
}
.section04 .inner h2 .word {
  display: inline-block;
}
.section04 .inner .img__box {
  width: 30%;
}
.section04 .inner .img__box img {
  width: 100%;
  border-radius: 500px 500px 0 0;
}
.section04 h3 {
  text-align: center;
  margin-top: 100px;
  font-size: var(--font-large);
  font-weight: var(--weight-regular);
  letter-spacing: 5px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  pointer-events: all;
}
footer .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 100%;
}
footer .inner .footer__signature {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  flex: 1;
  padding-top: 330px;
}
footer .inner .footer__signature p {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}
footer .inner .footer__signature h3 {
  margin-top: 20px;
  font-weight: var(--weight-regular);
  font-size: 25px;
}
footer .inner .footer__logo {
  width: 100%;
}
footer .inner aside {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-row-gap: 0px;
  width: 100%;
  font-size: var(--font-small);
  margin: 10px 0;
}
footer .inner aside .footer__copy {
  display: flex;
  justify-content: center;
}
footer .inner aside ul {
  display: flex;
  gap: 20px;
  justify-content: end;
}
footer .inner aside ul li a {
  transition: all 0.3s ease-in-out;
}
footer .inner aside ul li a:hover {
  color: rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=style.css.map */
