@charset 'utf-8';
@import "reset";

body.about {
	background-color: var(--color-black) !important;
	color: var(--color-white);
	#wrapper {
		header {
			border-bottom: 1.5px solid var(--color-white);
			background-color: var(--color-black);
			a {
				img {
					filter: invert(1);
				}
			}
			nav {
				ul {
					li {
						a {
							color: var(--color-white);
						}
						&.join {
							border: 1px solid var(--color-white);
						}
					}
				}
			}
			.header__burger {
				.header__burger-line {
					background-color: var(--color-white);
				}
			}
		}
		main {
			z-index: 100;
			position: absolute;
			.section01 {
				background-color: var(--color-black);
				.inner {
					padding: 80px;
					position: relative;
					h3.ceo__txt {
						p {
							display: flex;
							justify-content: space-between;
							font-size: var(--font-small);
							font-family: "Noto Sans", sans-serif;
							padding: 50px 0 80px 0;
						}
						font-family: "Crimson Text", serif;
						font-size: 70px;
						font-weight: 100;
						text-align: center;
						visibility: hidden;
						&.is-inview {
							visibility: visible;
						}
						.word {
							transition-delay: calc(0.02s * var(--word-index));
						}
					}
					.image__cont {
						.image__cont_box {
							overflow: initial;
							margin-top: -50%;
						}
					}
				}
			}
			.section02 {
				padding-top: 10%;
				padding-bottom: 50px;
				margin-top: -1px;
				background-color: var(--color-black);
				.inner {
					border: 1px solid var(--color-white);
					padding: 40px;
					margin-bottom: 100px;
					h1 {
						font-size: 60px;
						font-family: "Crimson Text", serif;
						margin-bottom: 5%;
					}
					img {
						margin: 0 auto;
						filter: grayscale(1);
						display: flex;
					}
					.ceo__txt_cont {
						display: flex;
						justify-content: space-between;
						margin-top: 5%;
						.ceo__title {
							width: 35%;
							font-size: var(--font-medium);
						}
						.ceo__description {
							width: 60%;
							font-size: 18px;
						}
					}
				}
			}
			.section04 {
				padding-bottom: 0;
				h3 {
					color: var(--color-black);
				}
				.inner {
					h2 {
						color: var(--color-black);
					}
				}
			}
		}

		footer {
			background: linear-gradient(
				180deg,
				#000000 0%,
				#000000 25%,
				#ffffff 25%,
				#ffffff 100%
			);
			.inner {
				aside {
					color: var(--color-black);
				}
			}
		}
	}
}
