@charset 'utf-8';
@import "reset";

body.about {
	background-color: var(--color-black) !important;
	color: var(--color-white);
	#wrapper {
		header {
			border-bottom: 1.5px solid var(--color-white);
			background-color: var(--color-black);
			a {
				img {
					filter: invert(1);
				}
			}
			nav {
				ul {
					li {
						a {
							color: var(--color-white);
						}
						&.join {
							border: 1px solid var(--color-white);
						}
					}
				}
			}
			.header__burger {
				.header__burger-line {
					background-color: var(--color-white);
				}
			}
		}
		main {
			z-index: 100;
			position: relative;

			.section01 {
				background-color: var(--color-black);
				z-index: 99;
				position: relative;
				margin-top: 0;
				padding-top: 120px;
				.inner {
					padding: 80px;
					position: relative;
					padding-bottom: 20%;
					h3.ceo__txt {
						font-family: "Crimson Text", serif;
						font-size: 4rem;
						font-weight: 100;
						text-align: center;
						text-transform: uppercase;
						visibility: hidden;
						p {
							display: flex;
							justify-content: space-between;
							font-size: var(--font-small);
							font-family: "Noto Sans", sans-serif;
							padding: 50px 0 80px 0;
						}
						.word {
							display: inline-block;
							transition-delay: calc(0.02s * var(--word-index));
						}
						&.is-inview {
							visibility: visible;
						}
					}
				}
			}
			.section02 {
				padding: 80px;
				padding-bottom: 50px;
				margin-top: -1px;
				background-color: var(--color-black);
				.inner {
					border: 1px solid var(--color-white);
					padding: 40px;
					margin-bottom: 100px;
					h1 {
						font-size: 60px;
						font-family: "Crimson Text", serif;
						margin-bottom: 5%;
						text-transform: uppercase;
						.word {
							display: inline-block;
						}
					}
					img {
						margin: 0 auto;
						filter: grayscale(1);
						display: flex;
						position: relative;
					}
					.ovf__box {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						width: 100%;
						height: 100%;
						white-space: nowrap;
						transition: all 1s ease;
						text-transform: uppercase;
						overflow: hidden;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						z-index: -1;
						& > div {
							display: flex;
							animation: scrollText 100s infinite linear;
							.txt__ovf {
								font-size: 400px;
								font-weight: bold;
								color: rgba(255, 255, 255, 0.1);
								line-height: 1;
							}
						}
					}

					@keyframes scrollText {
						from {
							transform: translateX(0%);
						}
						to {
							transform: translateX(-50%);
						}
					}
					.ceo__txt_cont {
						display: flex;
						justify-content: space-between;
						margin-top: 5%;
						.ceo__title {
							width: 35%;
							font-size: var(--font-medium);
							margin-top: -35px;
							.word {
								transition-delay: calc(0.01s * var(--word-index));
								display: inline-block;
							}
						}
						.ceo__description {
							width: 60%;
							font-size: 18px;
							transform: translateY(40px);
							opacity: 0;
							transition: 500ms cubic-bezier(0.34, 0.7, 0.27, 1);
						}
						&.is-inview {
							.ceo__title {
								.word {
									opacity: 1;
								}
							}
							.ceo__description {
								transform: translateY(0px);
								opacity: 1;
							}
						}
					}
				}
			}
			.section04 {
				padding-bottom: 50px;
				margin-bottom: 0;
				.inner {
					h3 {
						color: var(--color-black);
						margin-bottom: 100px;
						.word {
							display: inline-block;
						}
					}

					justify-content: space-evenly;
					h2 {
						color: var(--color-black);
					}
				}
			}
		}

		footer {
			// background: linear-gradient(
			// 	180deg,
			// 	#000000 0%,
			// 	#000000 25%,
			// 	#ffffff 25%,
			// 	#ffffff 100%
			// );
			background-color: #fff;
			top: auto;
			bottom: 0;
			height: 75vh;
			.inner {
				justify-content: space-between;

				h3 {
					width: 100%;
					text-align: center;
					margin-top: 100px;
					font-size: var(--font-large);
					font-weight: var(--weight-regular);
					letter-spacing: 5px;
					.word {
						color: var(--color-black);
						opacity: 1;
						display: inline-block;
					}
				}
				.footer__wrapper {
					width: 100%;
					aside {
						color: var(--color-black);
					}
				}
			}
		}
	}
}

.head-about {
	background-color: var(--color-black);
	&__images {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: flex-start;
		margin-top: 50px;
	}
	&__container-image {
		position: relative;
		overflow: hidden;
		&:after {
			content: "";
			display: block;
		}
		&:nth-of-type(1) {
			width: 85%;
			padding-bottom: 85%;
		}
		&:nth-of-type(2) {
			width: 100%;
			margin-top: 30%;
			padding-bottom: 100%;
		}
		&:nth-of-type(3) {
			width: 60%;
			margin-left: 20%;
			margin-top: -20%;
			padding-bottom: 80%;
			img {
				object-position: left;
			}
		}
	}
	&__image {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: center;
		filter: grayscale(1);
	}
}
.has-scroll-smooth {
	.head-about {
		&__images {
			position: absolute;
			top: 15%;
			width: calc(100% - 160px);
		}

		&__container-image {
			&:nth-of-type(1) {
				width: 50%;
				padding-bottom: 50%;
			}
			&:nth-of-type(2) {
				width: 80%;
				margin-top: 20%;
				padding-bottom: 80%;
			}
			&:nth-of-type(3) {
				width: 50%;
				margin-left: 20%;
				margin-top: -30%;
				padding-bottom: 60%;
			}
		}
	}
}

// 반응형
@media (max-width: 989px) {
	body.about {
		#wrapper {
			main {
				.section01 {
					padding-top: 0;
					.inner {
						padding-bottom: 115px;
						h3.ceo__txt {
							font-size: 1.7rem;
							line-height: 1.1;
							p {
								padding: 50px 0 30px 0;
							}
						}
					}
				}
				.section02 {
					margin-bottom: 30%;
					.inner {
						padding: 40px 20px;
						h1 {
							font-size: var(--font-large);
						}
						img {
							width: 50%;
						}
						.ovf__box {
							top: 45%;
							& > div {
								.txt__ovf {
									font-size: 200px;
								}
							}
						}
						.ceo__txt_cont {
							flex-direction: column;
							margin-top: 2%;
							.ceo__title {
								width: 100%;
							}
							.ceo__description {
								font-size: var(--font-s-m);
								width: 100%;
								margin-top: 50px;
							}
						}
					}
				}
			}
			footer {
				//z-index: 1000;
				height: 40vh;
				.inner {
				}
			}
		}
	}

	.has-scroll-smooth {
		.head-about__images {
			position: initial;
			width: auto;
		}
		.head-about__container-image:nth-of-type(1),
		.head-about__container-image:nth-of-type(2),
		.head-about__container-image:nth-of-type(3) {
			width: 100%;
		}
	}
}
@media (max-width: 600px) {
	body.about {
		#wrapper {
			main {
				.section01 {
					.inner {
						padding: 30px;
						h3.ceo__txt {
							font-size: 2rem;
						}
					}
				}
				.section02 {
					padding: 30px;
					padding-bottom: 15%;
					.inner {
						padding: 20px;
						h1 {
							font-size: 25px;
							font-weight: 100;
							line-height: 1;
						}
						.ovf__box {
							top: 33%;
						}
						.ceo__txt_cont {
							.ceo__title {
								line-height: 1.1;
							}
						}
					}
				}
			}
			footer {
				height: 20vh;
				.inner {
					h3 {
						margin-top: 15px;
						font-size: var(--font-medium);
					}
				}
			}
		}
	}
}
