@charset 'utf-8';
@charset 'utf-8';
@import "reset";

body.contact {
	.section01 {
		background: var(--color-white);
		padding-bottom: 80px;
		.inner {
			padding: 25px 80px 80px 80px;
			.contact__us {
				font-size: 80px;
				font-family: "Crimson Text", serif;
				.word {
					display: inline-block;
				}
			}
			.contact__wrap {
				display: flex;
				justify-content: space-between;
				margin-top: 30px;
				align-items: flex-start;
				.contact__info {
					width: 35%;
					margin-top: 70px;
					li {
						margin-bottom: 30px;
						p:nth-child(1) {
							font-weight: var(--weight-semi-bold);
							margin-bottom: 5px;
						}
						p:nth-child(2) {
							font-size: 15px;
						}
					}
				}
				.contact__form {
					width: 50%;
					h3 {
						font-size: var(--font-medium);
						margin-bottom: 20px;
					}
					form {
						fieldset {
							border: none;
							.h {
								display: none;
							}
							table {
								border: none;
								width: 100%;
								tr {
									text-align: left;
									position: relative;

									td {
										border: none;
										padding: 20px 0px;
									}
									th {
										position: absolute;
										top: 50%;
										left: 0;
										transform: translateY(-50%);
										transition: 0.55s cubic-bezier(0.9, 0, 0.1, 1);
										padding-left: 3px;
										&.on {
											top: 100%;
											font-size: var(--font-small);
											opacity: 0.3;
										}

										label {
											font-family: "Crimson Text", serif;
										}
										&.submit {
											width: 50%;
											margin-top: 50px;

											input {
												width: 100%;
												background-color: var(--color-black);
												color: var(--color-white);
												border: none;
												border: 1px solid transparent;
												border-radius: 30px;
												padding: 10px 0;
												transition: 0.5s cubic-bezier(0.38, 0.005, 0.215, 1);
												cursor: pointer;
											}
										}
										&:hover {
											input {
												background-color: var(--color-white);
												border: 1px solid var(--color-black);
												color: var(--color-black);
											}
										}
									}

									td {
										input[type="text"],
										input[type="password"],
										select {
											width: 100%;
											border: none;
											border-bottom: 1px solid #aaa;
											padding: 10px 0;
											cursor: pointer;
										}
										input[type="checkbox"],
										input[type="radio"] {
											margin-right: 30px;
										}
										textarea {
											width: 100%;
											height: 150px;
											border: none;
											padding: 10px;
											border-bottom: 1px solid #aaa;
											resize: none;
											cursor: pointer;
										}
										textarea:focus,
										input:focus {
											outline: 0;
										}
									}
									p {
										position: absolute;
										color: #f8461e;
										font-size: 10px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	footer {
		background: var(--color-white);
		.inner {
			justify-content: flex-end;

			.contact__wrap {
				.contact__info {
					li {
						p:nth-child(2) {
							font-size: var(--font-s-m);
						}
					}
				}
			}
		}
	}
}

// 반응형
@media (max-width: 989px) {
	body.contact {
		.section01 {
			margin-top: 100px;
			.inner {
				.contact__us {
					font-size: var(--font-x-large);
				}
				.contact__wrap {
					flex-direction: column;
					margin-top: 20px;
					.contact__info {
						width: 100%;
						margin-top: 0;
						li {
							margin-bottom: 10px;
							p:nth-child(1) {
								margin-bottom: 0;
								font-size: var(--font-medium);
							}
							p:nth-child(1) {
								font-size: var(--font-s-m);
							}
						}
					}
					.contact__form {
						width: 100%;
						margin-top: 35px;
						h3 {
							margin-bottom: 0;
						}
						form {
							fieldset {
								table {
									tr {
										th {
											font-size: var(--font-s-m);
											&.submit {
												width: 100%;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	body.contact {
		.section01 {
			padding-bottom: 0;
			.inner {
				.contact__us {
					font-size: var(--font-large);
				}
			}
		}
	}
}
