@charset 'utf-8';
@charset 'utf-8';
@import "reset";

//contact
body.contact {
	.section01 {
		background: var(--color-white);
		height: 100vh;
		.inner {
			padding: 25px 80px 80px 80px;
			.contact__us {
				font-size: 80px;
				font-family: "Crimson Text", serif;
				.word {
					display: inline-block;
				}
			}
			.contact__wrap {
				display: flex;
				justify-content: space-between;
				margin-top: 30px;
				align-items: flex-start;
				opacity: 0;
				transform: translateY(80px);
				&.is-inview {
					transform: translateY(0);
					transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s;
					opacity: 1;
				}
				.contact__info {
					width: 35%;
					margin-top: 70px;
					li {
						margin-bottom: 30px;
						p:nth-child(1) {
							font-weight: var(--weight-semi-bold);
							margin-bottom: 5px;
						}
						p:nth-child(2) {
							font-size: 15px;
						}
					}
				}
				.contact__form {
					width: 50%;
					h3 {
						font-size: var(--font-medium);
						margin-bottom: 35px;
					}
					form {
						.form__row {
							position: relative;
							margin-bottom: 40px;

							label {
								font-family: "Crimson Text", serif;
								cursor: pointer;
								position: absolute;
								top: 7px;
								font-weight: var(--weight-bold);
								transition: 0.55s cubic-bezier(0.9, 0, 0.1, 1);
								&.on {
									top: 100%;
									opacity: 0.4;
									font-size: var(--font-small);
								}
							}
							input,
							select,
							textarea {
								border: none;
								outline: none;
								border-bottom: 1px solid #aaa;
								width: 100%;
								cursor: pointer;
								padding: 10px 0 5px 0;
							}
							textarea {
								resize: none;
							}
							p {
								color: #f8461e;
								font-size: 10px;
								margin-top: 2px;
							}
							&.message {
								.on {
									top: 102%;
								}
							}
						}
						.submit__btn {
							margin-top: 20px;
							background-color: var(--color-black);
							color: var(--color-white);
							border: none;
							border: 1px solid transparent;
							border-radius: 30px;
							padding: 10px 0;
							transition: 0.5s cubic-bezier(0.38, 0.005, 0.215, 1);
							width: 100%;
							cursor: pointer;
							&:hover {
								background-color: var(--color-white);
								color: var(--color-black);
								border: 1px solid var(--color-black);
							}
						}
					}
				}
			}
		}
	}

	footer {
		background: var(--color-white);
		.inner {
			justify-content: flex-end;

			.contact__wrap {
				.contact__info {
					li {
						p:nth-child(2) {
							font-size: var(--font-s-m);
						}
					}
				}
			}
		}
	}
}

// result
.result {
	.section01 {
		margin-top: 0;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		flex-wrap: wrap;
		.box {
			border: 2px solid #007d52;
			width: 50%;
			margin: auto;
			padding: 100px;
			.contact__us {
				font-size: 80px;
				font-family: "Crimson Text", serif;
			}
			.result__btn {
				outline: none;
				padding: 0;
				width: 50%;
				margin: auto;
				border: 1px solid var(--color-black);
				border-radius: 30px;
				background-color: var(--color-white);
				margin-top: 50px;
				transition: 0.5s cubic-bezier(0.38, 0.005, 0.215, 1);
				a {
					padding: 10px 20px;
					display: block;
				}
				&:hover {
					background-color: var(--color-black);
					a {
						color: var(--color-white);
					}
				}
			}
		}
	}
}

// 반응형
@media (max-width: 989px) {
	body.contact {
		.section01 {
			margin-top: 100px;
			.inner {
				.contact__us {
					font-size: var(--font-x-large);
				}
				.contact__wrap {
					flex-direction: column;
					margin-top: 20px;
					.contact__info {
						width: 100%;
						margin-top: -8px;
						li {
							margin-bottom: 10px;
							p:nth-child(1) {
								margin-bottom: 0;
								font-size: 15px;
							}
							p:nth-child(2) {
								font-size: var(--font-s-m);
							}
						}
					}
					.contact__form {
						width: 100%;
						margin-top: 28px;
						h3 {
							margin-bottom: 15px;
						}
						form {
							.form__row {
								label {
									font-size: var(--font-s-m);
									&.on {
										top: 110%;
									}
								}
							}
							.submit__btn {
								margin-top: 5px;
								padding: 7px 0;
							}
						}
					}
				}
			}
		}
	}

	// result
	.result {
		.section01 {
			.inner {
				padding-bottom: 0 !important;
				.box {
					width: 100%;
					.contact__us {
						font-size: var(--font-large);
					}
					p {
						font-size: var(--font-s-m);
					}
					.result__btn {
						margin-top: 25px;
						a {
							font-size: var(--font-s-m);
							padding: 5px 20px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	body.contact {
		.section01 {
			padding-bottom: 0;
			.inner {
				.contact__us {
					font-size: var(--font-large);
				}
			}
		}
	}

	// result
	#wrapper {
		.result {
			.section01 {
				margin-top: 0;
			}
		}
	}
}
