@charset 'utf-8';
@import "reset";

// magazine
.section01 {
	background-color: var(--color-white);
	.inner {
		padding: 25px 80px 80px 80px;
		h1 {
			font-size: 80px;
			font-family: "Crimson Text", serif;
			.word {
				display: inline-block;
			}
		}
	}
	.magazine__categories {
		opacity: 0;
		transform: translateY(40px);
		&.is-inview {
			transform: translateY(0);
			transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s;
			opacity: 1;
		}
		.magazine__tab {
			padding: 30px 0 10px 0;
			border-bottom: 1px solid var(--color-black);
			ul {
				display: flex;
				gap: 50px;
				.magazine__btn {
					cursor: pointer;
					font-size: var(--font-medium);
					transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
					position: relative;
					&::after {
						content: "";
						display: block;
						position: absolute;
						right: -27px;
						top: 9px;
						width: 1px;
						height: 10px;
						background: rgba(0, 0, 0, 0.2);
					}
					&:last-child {
						&::after {
							display: none;
						}
					}
					&.selected {
						color: #f8461e;
						font-weight: var(--weight-bold);
					}
				}
			}
		}
		.magazine__cont {
			transition: all 300ms ease-out;
			opacity: 1;
			margin-top: 15px;
			&.anim-out {
				opacity: 0;
				transform: scale(0.96) translateY(40px);
			}
			ul {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 20px;
				li {
					display: block;
					&.invisible {
						display: none;
					}
					a {
						.magazine__cont-box {
							&:hover {
								.magazine__image {
									img {
										filter: none;
										transform: scale(1.1);
									}
								}
							}
							.magazine__image {
								padding: 10px 0;
								overflow: hidden;
								img {
									width: 100%;
									filter: grayscale(1);
									transform: scale(1);
									transition: all 0.5s ease-in-out;
								}
							}
							.magazine__desc {
								span {
									font-size: 12px;
									opacity: 0.6;
									display: block;
									padding-bottom: 5px;
								}
								h3 {
									font-size: 17px;
								}
							}
						}
					}
				}
			}
		}
	}
}

footer {
	background: var(--color--white);
}

// magazine detail
.magazine__detail {
	.section01 {
		margin-top: 150px;
		.inner {
			max-width: 1000px;
			.detail__txt {
				text-align: center;
				margin-bottom: 50px;
				.detail__category {
					font-size: 13px;
					border: 1px solid var(--color-black);
					border-radius: 30px;
					display: inline-block;
					padding: 5px 15px;
					margin-bottom: 10px;
				}
				.detail__title {
					padding: 15px 0 40px 0;
					line-height: 1.2;
					border-bottom: 1px solid var(--color-black);
					font-size: var(--font-large);
				}
			}
			.detail__image {
				width: 100%;
				text-align: center;
				img {
					width: 100%;
				}
			}
			.detail__desc {
				margin-top: 30px;
				p {
					padding: 15px 0;
					font-size: 18px;
				}
				.writer {
					text-align: center;
					margin-top: 30px;
					font-size: var(--font-s-m);
					opacity: 0.7;
				}
			}
		}
	}
}

// 반응형
@media (max-width: 989px) {
	// magazine
	.section01 {
		margin-top: 100px;
		.inner {
			h1 {
				font-size: var(--font-x-large);
			}
			.magazine__tab {
				padding: 15px 0 5px 0;
				ul {
					gap: 20px;
					li {
						font-size: 15px;
					}
					.magazine__btn::after {
						right: -12px;
						top: 6px;
					}
				}
			}
			.magazine__cont {
				ul {
					grid-template-columns: repeat(3, 1fr);
					gap: 10px;
					li {
						margin-bottom: 10px;
						a {
							.magazine__cont-box {
								.magazine__image {
									padding: 5px 0;
								}
								span {
									font-size: var(--font-small);
									padding-bottom: 3px;
								}
								.magazine__desc {
									h3 {
										font-size: var(--font-s-m);
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// magazine detail
	.magazine__detail {
		.section01 {
			margin-top: 110px;
			.inner {
				.detail__txt {
					margin-bottom: 26px;
					.detail__category {
						font-size: var(--font-small);
						margin-bottom: 0;
					}
					.detail__title {
						padding: 15px 0 20px 0;
						font-size: 25px;
					}
				}
				.detail__desc {
					margin-top: 10px;
					p {
						padding: 10px 0;
						font-size: var(--font-s-m);
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.section01 {
		.inner {
			.magazine__cont {
				ul {
					grid-template-columns: repeat(2, 1fr);
					gap: 10px;
				}
			}
		}
	}
}

@media (max-width: 600px) {
	// magazine
	.section01 {
		.inner {
			h1 {
				font-size: var(--font-large);
			}
			.magazine__categories {
				.magazine__tab {
					ul {
						.magazine__btn {
							font-size: var(--font-s-m);
						}
					}
				}
			}
			.magazine__cont {
				ul {
					grid-template-columns: repeat(1, 1fr);
					gap: 10px;
				}
			}
		}
	}

	// magazine detail
	#wrapper {
		.magazine__detail {
			.section01 {
				margin-top: 73px;
				.inner {
					.detail__txt {
						.detail__category {
							padding: 3px 15px;
							margin-bottom: 15px;
						}
						.detail__title {
							padding: 0px 0 20px 0;
							font-size: 21px;
						}
					}
					.detail__desc {
						p {
							padding: 7px 0;
						}
					}
				}
			}
		}
	}
}
