@charset 'utf-8';
@import "reset";

#wrapper {
	.inner {
		max-width: 1600px;
		width: 100%;
		margin: 0 auto;
		padding: 0 15px;
	}

	// header
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 80px;
		border-bottom: 1px solid var(--color-black);
		position: relative;
		margin-bottom: 60px;
		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: -70px;
			width: calc(100% + 140px);
			height: 1px;
			background: #000;
		}

		a {
			img {
				width: 100px;
				margin-top: 10px;
			}
		}
		nav {
			ul {
				display: flex;
				gap: 50px;
				li {
					a {
						font-size: var(--font-small);
					}
				}
			}
		}
	}
}

video {
	width: 100%;
	height: calc(100vh - 486px);
	object-fit: cover;
	filter: grayscale(1);
}

footer {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: end;
	.footer__signature {
		text-align: center;
		text-transform: uppercase;
		width: 100%;
		flex: 1;
		padding-top: 330px;

		p {
			font-family: "Raleway", sans-serif;
			font-size: 30px;
		}
		h3 {
			margin-top: 20px;
			font-weight: var(--weight-regular);
			font-size: 25px;
		}
	}
	.footer__logo {
		width: 100%;
	}
	aside {
		display: grid;
		grid-template-columns: 2fr 4fr 2fr;
		grid-row-gap: 0px;
		width: 100%;
		font-size: var(--font-small);
		margin: 10px 0;

		.footer__copy {
			display: flex;
			justify-content: center;
		}
		ul {
			display: flex;
			gap: 20px;
			justify-content: end;
		}
	}
}
