@charset 'utf-8';
@import "reset";

.inner {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

#wrapper {
	// header
	header {
		padding: 15px 80px;
		border-bottom: 1.5px solid var(--color-black);
		position: relative;
		margin-bottom: 60px;
		.inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		a {
			img {
				width: 100px;
				margin-top: 10px;
			}
		}
		nav {
			ul {
				display: flex;
				gap: 50px;
				li {
					a {
						font-size: var(--font-small);
					}
				}
			}
		}
	}
}

// section01
.section01 {
	video {
		width: 100%;
		height: calc(100vh - 486px);
		object-fit: cover;
		filter: grayscale(1);
	}
}

// section02
.section02 {
	.image__cont {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: flex-start;
		padding: 0 80px;
		.image__cont_box {
			width: 60%;
			padding-top: 30%;
			filter: grayscale(1);

			&.n02 {
				padding-top: 100%;
				width: 100%;
				img {
					width: 100%;
				}
			}
			&.n03 {
				margin-top: -20%;
			}
			&.n04 {
				padding-top: 100%;
				width: 100%;
				img {
					width: 100%;
				}
			}
		}
	}
}

.section03 {
	margin-top: 100px;
	background-color: var(--color-black);
	color: var(--color-white);
	padding: 80px 0;
	h2 {
		font-family: "Crimson Text", serif;
		font-size: 80px;
		font-weight: var(--weight-regular);
		display: inline-block;
		line-height: 1;
	}
	p {
		margin-top: 30px;
	}
}

// footer
footer {
	height: 100vh;
	.inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: end;
		height: 100%;
		.footer__signature {
			text-align: center;
			text-transform: uppercase;
			width: 100%;
			flex: 1;
			padding-top: 330px;

			p {
				font-family: "Raleway", sans-serif;
				font-size: 30px;
			}
			h3 {
				margin-top: 20px;
				font-weight: var(--weight-regular);
				font-size: 25px;
			}
		}
		.footer__logo {
			width: 100%;
		}
		aside {
			display: grid;
			grid-template-columns: 2fr 4fr 2fr;
			grid-row-gap: 0px;
			width: 100%;
			font-size: var(--font-small);
			margin: 10px 0;

			.footer__copy {
				display: flex;
				justify-content: center;
			}
			ul {
				display: flex;
				gap: 20px;
				justify-content: end;
			}
		}
	}
}
