@charset 'utf-8';
@import "reset";

/* 공통 */

.preloader {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100%;
	z-index: 11111;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease 1.5s;
	background-color: var(--color-black);
	&.preloader--hide {
		height: 0;
		pointer-events: none;
	}
}

.inner {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.links {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	.link {
		text-align: center;
		position: relative;
		font-size: var(--font-small);
		cursor: pointer;
		&:hover {
			.link__cont {
				span:nth-of-type(1) {
					transform: translateY(250%) rotateX(65deg);
				}
				span:nth-of-type(2) {
					transform: translateY(0) rotateX(0deg);
				}
			}
		}
		.link__cont {
			transition: 500ms cubic-bezier(0.34, 0.7, 0.27, 1);
			width: fit-content;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			overflow: hidden;
			transition: transform 0.5s ease;
			span {
				overflow: hidden;
				line-height: 1em;
				transform-origin: bottom center;
				transition: transform 0.4s ease;
			}
			span:nth-of-type(2) {
				position: absolute;
				line-height: 1em;
				transform: translateY(-250%) rotateX(65deg);
				transform-origin: top center;
				transition: transform 0.4s ease;
			}
		}
	}
}
.word {
	display: block;
	opacity: 0;
	transition: 0.7s cubic-bezier(0.38, 0.005, 0.215, 1);
	transition-delay: calc(0.1s * var(--word-index));
}
h2.is-inview {
	.word {
		opacity: 1;
		transform: translateY(0);
	}
}
h3.is-inview {
	.word {
		opacity: 1;
		transform: translateY(0);
		display: inline;
	}
}
br.vis-600 {
	display: none;
}

#wrapper {
	// header
	header {
		padding: 15px 80px;
		border-bottom: 1.5px solid var(--color-black);
		background-color: var(--color-white);
		transition: all 500ms cubic-bezier(0.34, 0.7, 0.27, 1);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		pointer-events: initial;
		&.header--hide {
			transition: 500ms cubic-bezier(0.34, 0.7, 0.27, 1);
			transform: translateY(-100%);
			opacity: 0;
		}
		&.active {
			padding: 10px 50px;
		}
		.inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		a {
			img {
				width: 100px;
				margin-top: 10px;
			}
		}
		nav {
			ul {
				gap: 50px;
				li {
					a {
						font-size: var(--font-small);
					}
					&.join {
						border: 1px solid var(--color-black);
						border-radius: 20px;
						padding: 10px 20px;
						font-weight: var(--weight-bold);
					}
				}
			}
		}
		.header__burger {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			cursor: pointer;
			display: none;
			.header__burger-line {
				display: block;
				height: 1px;
				width: 25px;
				background-color: var(--color-black);
				margin: 7px 0;
			}
		}
	}
	.menu {
		background-color: var(--color-black);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 0;
		transform-origin: top;
		transition: 500ms cubic-bezier(0.34, 0.7, 0.27, 1) 1s;
		.menu__close {
			position: absolute;
			top: 25px;
			right: 20px;
			width: 30px;
			height: 30px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			transition: 500ms cubic-bezier(0.34, 0.7, 0.27, 1);
			transform: translateY(-20px);
			opacity: 0;
			cursor: pointer;
		}
		.menu__container {
			text-align: center;

			.menu__links {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-bottom: 50px;
				.menu__link {
					color: var(--color-white);
					font-size: var(--font-x-large);
					font-family: "Crimson Text", serif;
					transform: translateY(-20px);
					opacity: 0;
					transition: 600ms cubic-bezier(0.34, 0.7, 0.27, 1) 0.2s;
					&:nth-child(1) {
						transition: 600ms cubic-bezier(0.34, 0.7, 0.27, 1) 0.2s;
					}
					&:nth-child(2) {
						transition: 600ms cubic-bezier(0.34, 0.7, 0.27, 1) 0.3s;
					}
					&:nth-child(3) {
						transition: 600ms cubic-bezier(0.34, 0.7, 0.27, 1) 0.4s;
					}
					&:nth-child(4) {
						transition: 600ms cubic-bezier(0.34, 0.7, 0.27, 1) 0.5s;
					}
				}
			}
			.menu__link-join {
				a {
					color: var(--color-white);
					font-size: var(--font-small);
					border: 1px solid var(--color-white);
					border-radius: 20px;
					padding: 10px 50px;
					transition: 600ms cubic-bezier(0.34, 0.7, 0.27, 1) 0.6s;
					opacity: 0;
				}
			}
		}

		&.menu__show {
			transition: 500ms cubic-bezier(0.34, 0.7, 0.27, 1);
			height: 100vh;
			pointer-events: all;

			.menu__close {
				transform: translateY(0px);
				opacity: 1;
				.menu__line {
					display: block;
					width: 100%;
					height: 1px;
					background-color: #ffffff;
					position: absolute;
				}
				.menu__line:first-child {
					transform: rotate(45deg);
				}
				.menu__line:last-child {
					transform: rotate(-45deg);
				}
			}
			.menu__container {
				.menu__link {
					opacity: 1;
					transform: translateY(0);
				}
				.menu__link-join {
					opacity: 1;
				}
			}
		}
	}
}

// section01
.section01 {
	margin-top: 120px;
	video {
		width: 100%;
		height: calc(100vh - 486px);
		object-fit: cover;
		filter: grayscale(1);
		transition: 1s cubic-bezier(0.38, 0.005, 0.215, 1) 0.7s;
	}
}

// section02
.section02 {
	position: relative;
	z-index: -1;
	padding-top: 50%;
	.image__cont {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: flex-start;
		padding: 0 80px;
		.image__cont_box {
			width: 60%;
			padding-top: 50%;
			position: relative;
			overflow: hidden;
			filter: grayscale(1);
			img {
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				-o-object-fit: cover;
				object-fit: cover;
				-o-object-position: center;
				object-position: center;
			}
			&.n01 {
				width: 60%;
				padding-bottom: 80%;
				margin-left: 17%;
			}
			&.n02 {
				margin-top: 50%;
				padding-bottom: 100%;
				width: 70%;
				margin-left: 5%;
			}
			&.n03 {
				width: 60%;
				margin-left: 20%;
				margin-top: -50%;
				padding-bottom: 80%;
			}
			&.n04 {
				width: 70%;
				margin-left: 13%;
				margin-top: -10%;
				padding-bottom: 80%;
			}
		}
	}
}

.section03 {
	margin-top: 100px;
	background-color: var(--color-black);
	color: var(--color-white);
	padding: 80px;
	.inner {
		h2 {
			font-family: "Crimson Text", serif;
			font-size: 100px;
			font-weight: var(--weight-regular);
			line-height: 1;
			.word {
				display: block;
				opacity: 0;
				transition: 0.7s cubic-bezier(0.38, 0.005, 0.215, 1);
				transition-delay: calc(0.1s * var(--word-index));
			}
			&.is-inview {
				.word {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
		p {
			margin-top: 30px;
		}
		.commitments__tab {
			padding: 120px 0 15px 0;
			position: relative;
			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				height: 1px;
				width: 100%;
				transform: scaleX(0);
				background-color: var(--color-white);
				transform-origin: left;
				transition: transform 0.75s cubic-bezier(0.38, 0.005, 0.215, 1);
				transition-delay: 0.5s;
			}
			&.is-inview::after {
				transform: scaleX(1);
			}

			ul {
				display: flex;
				gap: 80px;
				justify-content: flex-start;
				li {
					cursor: pointer;
					position: relative;
					font-size: var(--font-small);
					padding: 10px 20px;
					border: 1px solid transparent;

					&::after {
						content: "";
						display: block;
						height: 100%;
						width: 1px;
						background-color: #ffffff;
						position: absolute;
						right: -40px;
						top: 0;
						-webkit-transform: rotate(30deg);
						transform: rotate(30deg);
					}
					&:last-child::after {
						display: none;
					}
					&.on {
						border: 1px solid var(--color-white);
						border-radius: 20px;
					}
				}
			}
		}
		#sticky {
			margin-top: 10%;
			.commitments__cont {
				display: none;
				justify-content: space-between;
				margin-bottom: 50px;
				&.on {
					display: block;
				}
				.commitments__cont_box {
					display: flex;
					justify-content: space-between;
					align-items: baseline;
					.txt__box {
						.commitments__box_left {
							width: 100%;
							font-size: 30px;
						}
						.view__more {
							border-radius: 20px;
							background-color: var(--color-white);
							color: var(--color-black);
							text-align: center;
							font-size: var(--font-small);
							max-width: 130px;
							padding: 10px 0;
							justify-content: center;
							align-items: center;
							margin-top: 20px;
						}
					}

					.commitments__box_right {
						width: 55%;
						h3 {
							margin-bottom: 50px;
							font-size: 23px;
						}
						table {
							border-collapse: collapse;
							border-top: 1px solid var(--color-white);
							tr {
								vertical-align: baseline;
								text-align: left;
								border-bottom: 1px solid var(--color-white);
								th {
									width: 30%;
									padding: 10px 0;
								}
								td {
									padding: 10px 0;
								}
							}
						}
					}
				}
			}
		}
	}
}

// section04
.section04 {
	padding: 80px;
	margin-bottom: 350px;
	background-color: var(--color-white);
	pointer-events: none;

	.inner {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 100px;
		border-bottom: 2px solid var(--color-black);
		padding-bottom: 80px;
		h2 {
			font-family: "Crimson Text", serif;
			font-weight: var(--weight-regular);
			font-size: 80px;
			line-height: 1;
			.word {
				display: inline-block;
			}
		}
		.img__box {
			width: 45%;
			img {
				width: 100%;
				border-radius: 500px 500px 0 0;
			}
		}
	}
	h3 {
		text-align: center;
		margin-top: 100px;
		font-size: var(--font-large);
		font-weight: var(--weight-regular);
		letter-spacing: 5px;
	}
}

// footer
footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	pointer-events: all;
	.inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: end;
		height: 100%;
		.footer__signature {
			text-align: center;
			text-transform: uppercase;
			width: 100%;
			flex: 1;
			padding-top: 330px;

			p {
				font-family: "Raleway", sans-serif;
				font-size: 30px;
			}
			h3 {
				margin-top: 20px;
				font-weight: var(--weight-regular);
				font-size: 25px;
			}
		}
		.footer__logo {
			width: 100%;
		}
		aside {
			display: grid;
			grid-template-columns: 2fr 4fr 2fr;
			grid-row-gap: 0px;
			width: 100%;
			font-size: var(--font-small);
			margin: 10px 0;

			.footer__copy {
				display: flex;
				justify-content: center;
			}
			ul {
				display: flex;
				gap: 20px;
				justify-content: end;
				li {
					a {
						transition: all 0.3s ease-in-out;
						&:hover {
							color: rgba(0, 0, 0, 0.5);
						}
					}
				}
			}
		}
	}
}

// 반응형
@media (max-width: 989px) {
	#wrapper {
		header {
			padding: 5px 0;
			nav {
				display: none;
			}
			.header__burger {
				display: block;
			}
		}
		.section01 {
			.inner {
				padding: 0px 80px 100px 80px;
				video {
					height: calc(100vh - 223px);
					min-height: 250px;
				}
			}
		}
		.section02 {
			.image__cont {
				padding: 0 65px;
				.image__cont_box {
					&.n01 {
						margin-left: 0;
						width: 80%;
					}
					&.n02 {
						margin-left: 5%;
						width: 95%;
					}
					&.n03 {
						margin-left: 10%;
						width: 73%;
					}
					&.n04 {
						margin-left: 14%;
						margin-top: 0%;
						width: 74%;
					}
				}
			}
		}
		.section03 {
			.inner {
				padding: 0;
				h2 {
					font-size: var(--font-x-large);
				}
				p {
					font-size: var(--font-medium);
				}
				.commitments__tab {
					padding: 40px 0 15px 0;
					ul {
						gap: 50px;
					}
				}
				#sticky {
					margin-top: 8%;
					.commitments__cont {
						.commitments__cont_box {
							.txt__box {
								.commitments__box_left {
									font-size: var(--font-medium);
								}
								.view__more {
									margin-bottom: 20px;
									max-width: 100px;
								}
							}
							flex-direction: column;
							.commitments__box_right {
								width: 100%;
								table {
									tr {
										th {
											font-size: var(--font-s-m);
										}
										td {
											font-size: var(--font-s-m);
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.section04 {
			.inner {
				gap: 0;
				padding: 0;
				justify-content: space-between;
				h2 {
					font-size: var(--font-x-large);
				}
			}
		}
		footer {
			.inner {
				padding: 0 80px;
				.footer__signature {
					padding-top: 400px;
					p {
						font-size: 22px;
					}
					h3 {
						font-size: 20px;
					}
				}

				.footer__logo {
					display: none;
				}
			}

			aside {
				margin-bottom: 40px;
				ul {
					gap: 0;
					flex-direction: column;
					align-items: flex-end;
				}
			}
		}
	}
}

@media (max-width: 600px) {
	br.vis-600 {
		display: block;
	}
	#wrapper {
		.menu {
			.menu__container {
				.menu__links {
					margin-bottom: 30px;
					.menu__link {
						font-size: var(--font-large);
					}
				}
			}
		}
		header {
			a {
				img {
					width: 85px;
				}
			}
			.header__burger {
				.header__burger-line {
					margin: 6px 0;
				}
			}
		}
		.section01 {
			margin-top: 55px;
			.inner {
				padding: 25px 25px 100px 25px;
				video {
					height: calc(100vh - 170px);
				}
			}
		}
		.section02 {
			.image__cont {
				padding: 0 10px;
			}
		}
		.section03 {
			padding: 50px 15px;
			.inner {
				padding: 0 10px;
				h2 {
					font-size: var(--font-large);
				}
				p {
					font-size: var(--font-s-m);
				}
				.commitments__tab {
					padding: 30px 0 15px 0;
					ul {
						gap: 0px;
						li {
							padding: 7px 6px;
							margin-right: 20px;
							.link__text {
								font-size: 9px;
							}
							&::after {
								right: -10px;
								top: 4px;
								height: 65%;
							}
						}
					}
				}
				#sticky {
					.commitments__cont {
						.commitments__cont_box {
							.txt__box {
								.view__more {
									margin-top: 10px;
									padding: 6px 0;
									margin-bottom: 9px;
									.link {
										.link__cont {
											.link__text {
												font-size: 9px;
											}
										}
									}
								}
							}
							.commitments__box_right {
								h3 {
									font-size: 15px;
									margin-bottom: 16px;
								}
							}
						}
					}
				}
			}
		}
		.section04 {
			padding: 50px 0px 80px 0px;
			margin-bottom: 0;
			.inner {
				flex-direction: column;
				border-bottom: 1px solid var(--color-black);
				h2 {
					font-size: var(--font-large);
				}
				.img__box {
					margin: 35px 0;
					transform: none !important;
				}
			}
			h3 {
				margin-top: 64px;
				font-size: var(--font-medium);
			}
		}
		footer {
			.inner {
				.footer__signature {
					padding-top: 300px;
					h3 {
						font-size: var(--font-medium);
					}
					p {
						font-size: var(--font-medium);
					}
				}
				padding: 0 25px;
				aside {
					margin-bottom: 30px;
					align-items: center;
					font-size: 9px;
					ul {
						line-height: 1.2;
					}
					.footer__copy {
						display: block;
						line-height: 1;
					}
				}
			}
		}
	}
}
